@keyframes loader-progress {
    0% {
        transform: translateX(-200%)
    }

    to {
        transform: translateX(200%)
    }
}

@keyframes gradientBG {
    0% {
        background-position: 100% 98%;
    }

    50% {
        background-position: 0% 98%;
    }

    100% {
        background-position: -100% 98%;
    }
}

@keyframes turn-on {
    0% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes turn-off {
    0% {
        right: 100%;
    }

    100% {
        right: 0%;
    }
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.compare-swiper {
    background-color: #008081 !important;
}

.as-panel {
    padding: 0px !important;
    overflow: hidden;
}

.daynight {
    background: transparent;
    pointer-events: none;
    color: #ffffff;
    text-shadow: 0 0 2px black, 0 0 5px black, 0 0 10px black, 0 0 30px black;
    padding: 20px;
}

.daynight>i {
    padding: 20px;
}

.as-map-footer {
    min-height: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    justify-content: space-between;
    align-items: flex-end;
}

.as-toolbar {
    padding: 10px 10px 10px 20px;
}

.as-toolbar,
.as-sidebar,
.as-toolbar__actions {
    background-color: #008080;
    box-shadow: none;
}

.as-sidebar .as-container {
    background-color: #ffffff;
}

.as-box{
    padding-bottom: 0px;
}

.as-sidebar--left .as-container:nth-child(even),
.as-sidebar--left .as-container:nth-child(even) .as-box,
.as-vis{
    height:95%;
}

.noisebox {
    min-height: 120px;
}

.as-vis {
    min-height: 100px;
    width: 100%;
}

.noisedesc {
    text-align: justify;
}

.as-selector-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #008080;
    color: #ffffff;
    padding-bottom: 16px;;
}

.as-selector-box div {
    width: 261px;
    height: 35px;
    line-height: 35px;
}

.lab {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    width: 50px;
}

.as-selector-box>as-switch {
    min-width: 275px;
}

.layerinfo {
    min-height: 35px;
    min-width: 200px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 15px 20px;
}

.layerinfo>.as-subheader {
    flex-grow: 5;
    text-align: center;
}

.scale {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    border-radius: 4px;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #007080 5%, #546e82, #806984, #a26287, #c35689, #e2428b, #ff1d8e 95%);
}

dialog .scale {
    height: 1em;
    width: 80px;
    margin: 0px 0px 4px 0.5em;
}

.dial-scale {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}


.as-body.lower,
.as-body.higher {
    margin: 0px;
    padding: 0px 4px 0px 4px;
}

dialog {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    max-width: 50%;
    max-height: 80%;
    padding-top: 2em;
}

dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog-content{
    width:100%;
    padding: 20px;
    max-height:calc(75vh - 104px);
    overflow-y: auto;
    text-align: justify;
}
.dialog-content img{
    width: 90%;
}
.dialog-content .as-table{
    width: 100%
}
.dialog-content .as-table th,
.dialog-content .as-table td:not(:first-child){
    text-align: center;
}

.decibels,
.decibels2,
.molesta,
.plantas{
    font-size: 16px;
}

.as-help,
dialog a{
    color: #008080;
    text-decoration: none;
    transition: 1s ease-in;
}

.as-help:hover,
dialog a:hover{
    color: #ff1d8e;
    transition: 0.2s ease-out;
    cursor: help;
}

.info-texts {
    display: none;
}

.container-loader {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    overflow: hidden;
    margin-bottom: 5px;
}

.as-container.loader {
    height: 1px;
}

.loader {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 3px;
    transform: translateX(-200%);
    background-image: linear-gradient(90deg, #66b2b2, #ff1d8e 80%, #ffffff 95%);
    z-index: 2;
}

.loader.is-visible {
    -webkit-animation: loader-progress 1s cubic-bezier(0, .85, .6, .6) infinite;
    -khtml-animation: loader-progress 1s cubic-bezier(0, .85, .6, .6) infinite;
    -moz-animation: loader-progress 1s cubic-bezier(0, .85, .6, .6) infinite;
    -ms-animation: loader-progress 1s cubic-bezier(0, .85, .6, .6) infinite;
    -o-animation: loader-progress 1s cubic-bezier(0, .85, .6, .6) infinite;
    animation: loader-progress 1s cubic-bezier(0, .85, .6, .6) infinite;
}

.searching {
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #66b2b2, #ff1d8e 80%, #ffffff 95%);
    background-size: 200% 2px;
    background-repeat: repeat-x;
    background-position: 100% 98%;
    animation: gradientBG 2s cubic-bezier(0, .85, .6, .6) infinite;
}

#lookup {
    height: 100%;
    width: 320px;
    box-shadow: none;
    margin-right: 10px;
}

.as-input:focus,
.as-input:hover,
.as-textarea:focus,
.as-textarea:hover:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px #00cccc !important;
}

.fselector{
    font-size: 14px;
    width: 4em;
    text-align: center;
}

.as-search {
    position: relative;
    color: #008080;
    cursor: pointer;
    vertical-align: middle;
    vertical-align: -moz-middle-with-baseline;
    padding-right: 5px;
}

dialog>.as-subheader {
    text-align: justify;
}

.as-sidebar--right .as-table {
    width: 426px;
}

.as-table th {
    background: rgba(0, 128, 128, 0.2);
}

.as-info {
    color: #008080;
}

.as-map-footer {
    text-align: center;
}

.as-map-footer span {
    width: 100%;
}

.residesc {
    margin: 0px;
}

.residesc ul {
    padding-inline-start: 16px;
    list-style: none;
}

.residesc li {
    padding-inline-start: 16px;
    padding-bottom: 0.1em;
}

.mapboxgl-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}


.mapboxgl-popup-content div,
.layerinfo,
.as-map-footer {
    user-select: none;
}

.mapboxgl-popup-content div:first-child {
    margin-bottom: 5px;
}

.classnight>div {
    border-top-color: #000000 !important;
}

.classnight>div:last-child {
    color: #ffffff;
    background-color: #000000;
}

.fsummary p:not(.nope){
    text-align: justify;
    padding-bottom: 0px;
}

.fsummary .as-title {
    position: absolute;
    top: 50vh;
    padding-right: 16px;
}

.fsummary .as-caption{
    text-align: left;
}

.as-avatar {
    margin: 0px 10px 0px 4px;
}

.as-toolbar__actions li {
    height: 40px;
    margin-left: 10px;
}


.as-toolbar__item {
    border-radius: 4px;
    height: 40px;
    min-height: 40px;
    padding: 0 10 0 10;
    transition: width 0.5s ease-in-out;
}

.as-toolbar__item:hover {
    color: #008080;
    background: #ffffff;
}

.as-logo {
    border-radius: 20px 10px 10px 20px;
    height: 40px;
    min-height: 40px;
    padding: 0px 0px 0px 5px;
    min-width: 320px;
    justify-content: flex-start;
    cursor: none;
    filter: contrast(0%) brightness(100);
    flex: 0;
    background: transparent;
    transition: flex 1.5s ease-in;
}

.as-logo:hover {
    filter: none;
    flex: 1;
    background: linear-gradient(90deg, #ffffff, #ffffff 50%, #008080);
    transition: flex 0.4s ease-out;
}

.madb {
    border-radius: 4px;
    padding: 0px 5px 0px 5px;
}

.as-toolbar__item .as-subheader {
    margin: 0px;
}


.refcat {
    min-height: 400px;
    min-width: 600px;
    border: none;
}

.as-ref img {
    height: 1em;
}

.as-address {
    cursor: pointer;
}

.as-address-1 {
    font-weight: 500;
}

.as-toolbar__actions li:first-child {
    background: #ffffff;
    border-radius: 4px;
}

.as-map-footer div {
    margin-left: 4px;
    margin-right: 4px;
}

.as-map-footer div:first-child {
    flex-grow: 5;
    text-align: left;
}

.jeto {
    width: 25vh;
    height: 25vh;
    background-image: url('../../assets/img/yo.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    margin: 20px 0px;
}

.ego {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #000000;
    padding: 0px 20px;
}

.egoname {
    font-size: 60px;
    width: 100%;
}

.egoname::first-letter,
.egoname span:first-child {
    font-weight: bold;
}

.egoname span {
    transition: 1s ease-in;
}

.premonish,
.egoname span:hover {
    transform: scale(1.25);
    filter: blur(5px);
    transition: 0.2s ease-out;
}

.ego .social {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    color: black;
}

.ego a {
    border-radius: 4px;
    height: 48px;
    transition: 0.3s ease-in;
}

.ego a:hover {
    background: #ff1d8e;
}

.ego i {
    color: black;
}

a:focus {
    outline: none;
    border: 0;
}


.valores th,
.valores td {
    text-align: center;
    padding: 4px;
}
.valores col:first-child{
    width: 110px;
}

.valores,
.risks {
    padding: 0px 0px 16px 16px;
}

.valores,
.rhe,
.risktable {
    table-layout: fixed;
}

.rhe col,
.risktable col {
    width: 56.5px;
}

.rhe col:first-child,
.risktable col:first-child {
    width: 200px;
}

.rhe th {
    padding: 8px;
}

.risktable th div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.risktable td {
    padding: 8px;
    text-align: right;
}

.risktable .dsc {
    text-align: left;
}

.risktable i {
    color: #ff1d8e;
}

.risktable .rhi {
    margin-right: 16px;
}

.risktable .rh {
    text-align: right;
}

.valores tbody tr:hover td:first-child,
.risktable tbody tr:hover td:first-child,
.valores tbody td:not(:first-child):not(.notgood):hover{
    background: rgba(255,255,255,02) !important;
}

.valores tbody tr:hover,
.risktable tbody tr:hover {
    background: initial;
    box-shadow: inset 0px 0.5px 0px 2px rgba(128, 128, 128, 0.2);
}

.valores tbody tr:hover td:first-child,
.valores tbody td:not(.notgood):hover,
.risktable tbody tr:hover td:first-child{
    filter:brightness(0.9);
}

.notgood:hover,
.risktable tbody td:not(:first-child):hover {
    filter: saturate(2) brightness(0.7);
}

.as-table thead tr:hover {
    background: initial;
}

.as-container--scrollable {
    scrollbar-width: thin;
}

.dos {
    margin: 1em 0px 0px 0px;
}

/* https://codepen.io/z-/pen/XPQyMo */
.switcher {
    position: relative;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    margin: 10px 0 0 0;
}

.switcher input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0px;
    position: relative;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: #1E1E1E;
    outline: none;
}

.switcher input:before,
.switcher input:after {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;
    margin-top: -2px;
}

.switcher-1 input:before {
    content: 'más';
    left: 10px;
    font-size: 13px;
}

.switcher-1 input:after {
    content: 'menos';
    right: 10px;
    font-size: 13px;
}

.switcher-2 input:before {
    content: 'exterior';
    left: 10px;
    font-size: 13px;
}

.switcher-2 input:after {
    content: 'interior';
    right: 10px;
    font-size: 13px;
}

.switcher label {
    z-index: 1;
    position: absolute;
    top: -12px;
    bottom: 8px;
    border-radius: 15px;
    width: 60px;
}

.switcher input {
    transition: .25s -.1s;
}

.switcher input:checked {
    background: #ffd2e2;
}

.switcher input:checked:before {
    color: #FFFFFF;
    transition: color .5s .2s;
}

.switcher input:checked:after {
    color: #5b9f9e;
    transition: color .5s;
}

.switcher input:checked+label {
    left: 4px;
    right: 86px;
    background: #ff1d8e;
    transition: left .5s, right .4s .2s;
}

.switcher input:not(:checked) {
    background: #c9dede;
    transition: background .5s -.1s;
}

.switcher input:not(:checked):before {
    color: #ff6fa9;
    transition: color .5s;
}

.switcher input:not(:checked):after {
    color: #FFFFFF;
    transition: color .5s .2s;
}

.switcher input:not(:checked)+label {
    left: 86px;
    right: 4px;
    background: #008080;
    transition: left .4s .2s, right .5s, background .35s -.1s;
}

.notgood,
.notgood:hover{
    background: rgba(255, 29, 142, 0.2) !important;
    color: #ff1d8e;
    font-weight: 600;
}

.as-list__item{
    padding-left: 0px;
}

.as-list__item:not(:first-child){
    padding-top: 1em;
}

.as-justified{
    text-align: justify;
}

.as-quote{
    border-radius: 10px;
    padding: 10px 22px;
    margin-bottom: 1em;
    background: #eee;
}

.as-quote p:nth-child(2){
    text-align: right;
}

.as-paragraph p{
    margin-top: 1em;
}

.as-highlight{
    padding: 0px 5px;
    border-radius: 5px;
    background: rgba(0, 128, 128, 0.2);
}

.mapboxgl-popup-tip {
    margin-top: -1px;
}

.dcontent p {
    text-align: justify;
}

.sflex{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scaleday,
.scalenight{
    display: flex;
    border-radius: 4px;
    min-width: 170px;
    padding: 5px;
}
.scaleday i{
    margin-right: 4px;
}
.scalenight i{
    margin-left: 5px;
}

.scaleday{
    color: #ffffff;
    background: #8a99ac;
}

.scalenight{
    color: #ffffff;
    background: #36404d;
    margin-left: 5px;
}

.nope{
    margin: 0px;
}

.subtext{
    position: fixed;
    color: #008080;
    z-index: 9;
    height: 40px;
    margin: 20px;
    left: 360px
}

.cbutton{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    padding: 3px 3px 2px 3px;
    box-sizing: border-box;
}

.cbutton:hover{
    color: #ffffff;
    background-color: #ff1d8e;
    cursor: pointer;
}